In [13]:
training_data = [['Green',3],
                 ['Yellow',3],
                 ['Red',1],
                 ['Red',1],
                 ['Yellow',3]]
cols = ['Color','Diameter']
y = ['Apple','Apple','Grape','Grape','Lemon']

In [24]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
import numpy as np

In [25]:
df = pd.DataFrame(training_data, columns = cols)

In [26]:
df

    Color  Diameter
0   Green         3
1  Yellow         3
2     Red         1
3     Red         1
4  Yellow         3

In [48]:
le = preprocessing.LabelEncoder()
le.fit(df['Color'])
colors = le.transform(df['Color'])

In [52]:
le.classes_ #0,1,2

array(['Green', 'Red', 'Yellow'], dtype=object)

In [28]:
diam = np.array(df['Diameter'].values.tolist())

In [35]:
features = list(zip(colors,diam))

In [37]:
features

[(0, 3), (2, 3), (1, 1), (1, 1), (2, 3)]

In [38]:
clf = DecisionTreeClassifier()

In [40]:
clf.fit(features,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [41]:
clf.classes_

array(['Apple', 'Grape', 'Lemon'], dtype='<U5')

In [47]:
clf.feature_importances_

array([0.15151515, 0.84848485])

In [46]:
clf.predict([[2,1]])

array(['Grape'], dtype='<U5')

In [55]:
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

tensorflow 1.10.0 has requirement numpy<=1.14.5,>=1.13.3, but you'll have numpy 1.15.2 which is incompatible.
tensorflow 1.10.0 has requirement tensorboard<1.11.0,>=1.10.0, but you'll have tensorboard 1.6.0 which is incompatible.
You are using pip version 10.0.1, however version 19.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [72]:
df = pd.read_excel('titanic.xls')

In [73]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [74]:
df = df[['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'survived']]

In [75]:
df['sex'] = df['sex'].map({'male': 0, 'female': 1})

In [76]:
df.head()

   pclass  sex      age  sibsp  parch      fare  survived
0       1    1  29.0000      0      0  211.3375         1
1       1    0   0.9167      1      2  151.5500         1
2       1    1   2.0000      1      2  151.5500         0
3       1    0  30.0000      1      2  151.5500         0
4       1    1  25.0000      1      2  151.5500         0

In [77]:
df = df.dropna()

In [80]:
X = df.drop('survived', axis=1)
y = df['survived']

In [81]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [82]:
model = DecisionTreeClassifier()

In [83]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [84]:
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [85]:
y_predict = model.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

0.7290076335877863

In [86]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_test, y_predict),
    columns=['Predicted Not Survival', 'Predicted Survival'],
    index=['True Not Survival', 'True Survival']
)

                   Predicted Not Survival  Predicted Survival
True Not Survival                     100                  40
True Survival                          31                  91